{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "object-shorthand": ["error", "always"],
    "semi": ["error", "never"]
  }
}
